@charset "UTF-8";
.page_second {
  width: 50vw;
  margin: 0 auto;
}

.page_second p {
  margin-top: 7vw;
  color: #707070;
  font-size: 2.5vw;
  font-family: "筑紫B丸ゴシック", "Noto Sans JP", sans-serif;
  line-height: 5vw;
  letter-spacing: 0.1vw;
}

.page_second p a {
  color: #707070;
  font-size: 2.5vw;
  font-family: "筑紫B丸ゴシック", "Noto Sans JP", sans-serif;
  line-height: 5vw;
}

@media screen and (max-width: 559px) {
  .page_second {
    width: 78vw;
  }
  .page_second p {
    font-size: 6vw;
    line-height: 12vw;
  }
  .page_second p a {
    font-size: 6vw;
    line-height: 12vw;
  }
}

.page_port {
  width: 100vw;
  margin-top: 8vw;
}

.page_port .portfolio {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  margin-bottom: 5vw;
}

@media screen and (max-width: 559px) {
  .page_port .portfolio {
    flex-direction: column;
    align-items: center;
  }
}

.page_port .portfolio .portfolio_title {
  width: 45vw;
}

@media screen and (max-width: 559px) {
  .page_port .portfolio .portfolio_title {
    width: auto;
  }
}

.page_port .portfolio .portfolio_title h2 {
  font-size: 3vw;
  padding-left: 3vw;
  color: #707070;
}

@media screen and (max-width: 559px) {
  .page_port .portfolio .portfolio_title h2 {
    font-size: 4vw;
  }
}

.page_port .portfolio .portfolio_title img {
  width: 45vw;
  padding-top: 3vw;
  height: auto;
}

@media screen and (max-width: 559px) {
  .page_port .portfolio .portfolio_title img {
    width: 80vw;
  }
}

.page_port .portfolio .portfolio_setumei {
  width: 50vw;
}

@media screen and (max-width: 559px) {
  .page_port .portfolio .portfolio_setumei {
    width: auto;
  }
}

.page_port .portfolio .portfolio_setumei p {
  font-size: 1.5vw;
  margin-bottom: 3vw;
}

@media screen and (max-width: 559px) {
  .page_port .portfolio .portfolio_setumei p {
    font-size: 3vw;
  }
}

.page_port .portfolio .portfolio_setumei a {
  text-decoration: none;
  font-size: 1.5vw;
  color: #707070;
}

@media screen and (max-width: 559px) {
  .page_port .portfolio .portfolio_setumei a {
    font-size: 3vw;
  }
}

.page_port .portfolio .portfolio_setumei a:hover {
  opacity: 0.5;
  transition: 0.5s;
}
