@charset "UTF-8";
.top_wrap .pc_only_menu {
  margin-top: 16vw;
  margin-bottom: 20vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.top_wrap .pc_only_menu a {
  font-size: 3vw;
  width: 49vw;
  padding: 2.5vw 0;
  text-decoration: none;
  color: #707070;
  text-align: center;
  font-family: "筑紫B丸ゴシック", "Noto Sans JP", sans-serif;
  letter-spacing: 0.1vw;
}

.top_wrap .pc_only_menu a:hover {
  background-color: #707070;
  color: #fff;
  transition: 0.5s;
}

.top_wrap .pc_only_menu .border_1 {
  border-bottom: 0.5px solid #707070;
  border-right: 0.5px solid #707070;
}

.top_wrap .pc_only_menu .border_2 {
  border-bottom: 0.5px solid #707070;
  border-left: 0.5px solid #707070;
}

.top_wrap .pc_only_menu .border_3 {
  border-top: 0.5px solid #707070;
  border-right: 0.5px solid #707070;
}

.top_wrap .pc_only_menu .border_4 {
  border-top: 0.5px solid #707070;
  border-left: 0.5px solid #707070;
}

@media screen and (max-width: 559px) {
  .top_wrap .pc_only_menu {
    display: none;
  }
}
