@charset "UTF-8";
.top_wrap {
  padding-top: 4vw;
  width: 100%;
  overflow: hidden;
}

.top_wrap .top_img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 55vw;
  background-image: url(../img/top/top_haikei.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.top_wrap .top_img p {
  text-align: center;
  color: #707070;
  font-size: 4vw;
  font-family: "筑紫B丸ゴシック", "Noto Sans JP", sans-serif;
  line-height: 8vw;
}

.top_wrap .top_img img {
  width: 0;
}

.top_wrap .nami_anime {
  width: 100%;
}

.top_wrap .nami_anime svg {
  width: 100%;
  position: absolute;
  top: 50vw;
  left: 0;
}

.top_wrap .nami_anime .coverer {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vw;
}

@media screen and (max-width: 559px) {
  .top_wrap .top_img {
    z-index: -2;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    background-image: none;
    height: 80vh;
  }
  .top_wrap .top_img:before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 80vh;
    background: url(../img/top/top_haikei.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    content: "";
  }
  .top_wrap .top_img p {
    font-size: 7vw;
    width: 95vw;
    line-height: 14vw;
  }
  .top_wrap .top_img img {
    width: 0;
    position: fixed;
    top: 0;
  }
  .top_wrap .nami_anime {
    z-index: 50;
  }
  .top_wrap .nami_anime svg {
    top: 67vh;
  }
}
