.about_wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 14vw 0 5vw;
  margin-bottom: 15vw;
  .about_img {
    width: 20vw;
    height: 23.66vw;
    margin-top: 7vw;
    img {
      width: 100%;
    }
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 36vw;
    p {
      margin-top: 5vw;
      color: #707070;
      font-size: 1.5vw;
      line-height: 3vw;
      font-family: "筑紫B丸ゴシック", "Noto Sans JP", sans-serif;
      letter-spacing: 0.1vw;
      font-weight: lighter;
      &:nth-child(1) {
        margin-top: 0;
      }
      a {
        text-decoration: none;
        font-family: "筑紫B丸ゴシック", "Noto Sans JP", sans-serif;
        color: #707070;
        font-size: 1.5vw;
        border-bottom: 1px solid #707070;
        font-weight: lighter;
        &:hover {
          opacity: 0.5;
          transition: 0.5s;
        }
      }
    }
  }
}

@media screen and (max-width: 559px) {
  .about_wrap {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 30vw;
    .about_img {
      margin-top: 20vw;
      width: 70vw;
      height: auto;
    }
    div {
      width: 85vw;
      p {
        font-size: 4vw;
        line-height: 9vw;
        margin-top: 15vw;
        letter-spacing: 0.1vw;
        &:nth-child(1) {
          margin-top: 20vw;
        }
        a {
          font-size: 4vw;
        }
      }
    }
  }
}
